<!-- <app-adminadd></app-adminadd> -->
<!-- <app-admingetallitms></app-admingetallitms> -->
<!-- <app-admindashboard></app-admindashboard> -->
<!-- <app-adminsidenav></app-adminsidenav> -->
<!-- <app-category></app-category> -->
<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<!-- <app-carousel></app-carousel> -->

<!-- <app-viewproduct></app-viewproduct> -->
<router-outlet></router-outlet>
<!-- <app-wishlist></app-wishlist> -->
<!-- <app-order></app-order> -->
<!-- <app-cart-items></app-cart-items> -->
<!-- <app-partners></app-partners> -->
<!-- <app-orders></app-orders> -->
<!-- <app-orders></app-orders> -->
<!-- <app-displayorders></app-displayorders> -->