<app-header></app-header>
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/Swiggy-Logo.png"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/zomato.png"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/Foodpanda_logo_since_2017.jpeg"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- another row -->
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/freshmenu-logo_startuptalky.jpg"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/farmfresh.jpg"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/Dunzo.jpg"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- another row -->
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/bigbascket.jpg"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/box8.png"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card">
                    <img src="../../assets/uber-eats-logo-CA3BA2098B-seeklogo.com.png"  alt="" class="card__img">                 
                         <div class="card__data">
                             <h1 class="card__title">Nike Air Jordan</h1>
                             <span class="card__preci">$99</span>
                             <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                             <a href="#" class="card__button">Buy Now</a>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>